{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "omc.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "labels.full" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- range $key, $val := . }}
      {{ $key }}: {{ $val | quote }}
    {{- end }}
  {{- end }}
spec:
  {{- with .Values.ingress.ingressClass }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
  - hosts:
    - {{ .Values.ingress.hostname }}
    secretName: {{ default (printf "%s-tls" .Values.ingress.hostname) .Values.ingress.tls.secret }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "omc.fullname" . }}
            port:
              name: app
{{- end }}
